@import "../../style/helpers.scss";

.hr {
  margin: 0;
  margin-right: 40px;
  display: flex;
  height: 1px;
  border: none;
  position: relative;
  top: 14px;
  background: rgba(255, 255, 255, 0.2);
  width: 35px;
  @include tablet {
    width: 45px;
  }
  @include desktop {
    width: 90px;
  }
}
