.socialLinksNav {
  bottom: 80px;
  right: 145px;
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  margin-top: 100px;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 20px;
      a {
        height: 20px;
        width: 20px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        &.twitter {
          background-size: 20px;
          background-image: url("../../assets/twitter.svg");
        }
        &.github {
          background-size: 18px;
          background-image: url("../../assets/github.svg");
        }
        &.gde {
          width: 150px;
          background-size: 100% auto;
          background-image: url("../../assets/google-developers.png");
        }
      }
    }
  }
}
