@import "../../style/helpers.scss";

.h1,
.h2,
.h3 {
  font-family: "ltc-bodoni-175", "Open Sans";
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  font-weight: 400;
  align-items: center;
  &.indent {
    padding-left: 45px;
    @include tablet {
      padding-left: 70px;
    }
    @include desktop {
      padding-left: 130px;
    }
  }

  &.top {
    align-items: flex-start;
    hr {
      position: relative;
      top: 10px;
    }
  }
}

.h1 {
  font-size: 38px;
  @include tablet {
    //font-size: 48px;
  }

  margin-bottom: 25px;
}

.h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

:global(.deepocean) {
  .h1,
  .h2,
  .h3 {
    color: #fff;
  }
}

:global(.skyscan) {
  .h1,
  .h2,
  .h3 {
    color: #fff;
  }
}

:global(.pinkflood) {
  .h1,
  .h2,
  .h3 {
    color: rgb(107, 48, 65);
  }
}

:global(.post) .h2,
.h3 {
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 1px;
    background: rgba(107, 48, 65, 0.5);
    bottom: 13px;
    transform: translateX(10px);
  }
}
